form{
    border: 1px solid rgb(14, 21, 78);
    margin-right: 700px;
    padding-left: 125px;
    padding-top: 55px;
    margin-left: 100px;
    margin-top: 80px;
    padding-bottom: 125px;
    background-color: rgba(10, 44, 95, 0.911);
}
h2, label, input[type="submit"], input[type="file"], ::placeholder{
    color: white;
    
}
input[type="text"], input[type="password"], input[type="email"], input[type="submit"]{
    width: 450px;
    height: 25px;
    background-color: rgba(24, 22, 22, 0.918);
}
input[type="submit"]{
    background-color: blue;
   border: none;
}