<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--<bean id="message" class="com.bcits.springcore.bean.MessageBean" init-method="init" destroy-method="destroy">
    <property name="message" value="hello world"></property>
    </bean>
    
     <bean id ="employee1" class="com.bcits.springcore.bean.EmployeeBean">
    <property name="name" value="sunil"></property>
    <property name="age" value="23" />
    </bean>
    
    <bean id ="employee2" class="com.bcits.springcore.bean.EmployeeBean">
    <property name="name" value="charan"></property>
    <property name="age" value="45" />
    </bean>-->
    <bean id="message" class="com.bcits.springcore.bean.MessageBean" >
    <property name="message" value="hello world"></property>
    </bean>
    
    
    <bean id="employee" class="com.bcits.springcore.bean.EmployeeBean" scope="prototype"> </bean>

</beans>
